.container {
  padding-top: 75px;
  padding-bottom: 20px;
}

.addForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10%;
}

.formInput {
  border: 1px solid  rgb(149, 192, 16);
  border-radius: 50px;
  height: 35px;
  padding: 0 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.formInput::placeholder {
  color: black;
  font-size: 1rem;
}

.formText {
  border-radius: 15px;
  border: 1px solid rgb(149, 192, 16);
  height: 100px;
  padding: 10px 20px;
  margin: auto;
  width: 100%;
  max-width: 600px;
}

.nullOption {
  color: lightgray;
}

.photo {
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.submit {
  height: 40px;
  border-radius: 50px;
  border: 0;
  background-color: #21bf73;
  color: white;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.submit:disabled {
  background-color: lightgrey;
  color: gray;
}
