.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 70px 10% 20px 10%;
}

.container a {
  width: 100%;
}

.photoArea {
  width: 100%;
}

.photo {
  width: 80%;
  margin: 0 auto;
}

.infoArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.features {
  width: 100%;
}

.title {
  text-align: right;
  font-size: 1.6rem;
}

.subtitle {
  text-align: right;
  margin-bottom: 10px;
  font-size: 0.7rem;
  font-weight: 600;
}

.reserveBtn {
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 50px;
  background-color: #98bf0f;
  color: white;
  margin-top: auto;
  font-weight: 600;
  cursor: pointer;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    gap: 20px;
    padding: 70px 5%;
  }

  .photoArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .photo {
    width: 80%;
  }

  .infoArea {
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: calc(100vh - 70px);
    padding-bottom: 50px;
  }

  .reserveBtn {
    margin-top: 10px;
    margin-left: auto;
    width: 100%;
  }
}
