.container {
    width: 100%;
    padding: 70px 10% 0 10%;
}

.title {
    text-align: right;
    font-size: 1.6rem;
}

.subtitle {
    text-align: right;
    margin-bottom: 10px;
    font-size: 0.7rem;
    font-weight: 600;
}