.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-left: 25%;
  width: 70%;
  position: fixed;
  bottom: 5%;
  left: 0;
}

.footerList {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .footer {
    width: 125%;
    height: 15%;
    position: relative;
    margin: auto;
    padding-top: 5%;
  }

  .footerList {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: auto;
  }
}
