.main {
  padding-left: 6%;
}

.carLatest {
  margin-top: 0;
  margin-bottom: 10%;
}

.productSlider {
  width: 90%;
  margin-top: 5%;
  max-height: 90vh;
  overflow: hidden;
  margin-bottom: 15%;
}

.carImage {
  position: relative;
}

.carCard {
  height: 65rem;
  margin-top: 10%;
  margin-bottom: 25%;
  padding-top: 5%;
  padding-bottom: 20%;
}

.car {
  width: 100%;
  padding-top: 5%;
  margin-bottom: 10%;
  z-index: 2;
  margin-left: -15%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
}

.carBack {
  background-color: lightgray;
  border-radius: 100%;
  height: 250px;
  width: 320px;
  margin-left: 7%;
  padding-top: 5%;
  padding-bottom: 15%;
}

.carDescription {
  padding-left: 10%;
  margin-top: 10%;
  color: gray;
}

.carDescription h4 {
  color: black;
}

.carDescription h6 {
  margin-top: 7%;
  margin-bottom: 15%;
  color: gray;
}

.carSocial {
  display: flex;
  justify-content: space-around;
}

.carIcons {
  width: 10%;
  padding: 3%;
  border-radius: 100%;
  border: 1px solid gray;
}

.btnNext,
.btnPrev {
  display: none;
}

/* Styles for medium screens and larger */
@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    margin-right: 1% !important;
    margin-left: 3.5%;
    max-width: 850px;
  }

  .carLatest {
    margin-top: 2%;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
  }

  .carDescription h4 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5%;
    margin-top: 18%;
    color: black !important;
  }

  .carLatest h6 {
    margin-top: 2%;
    width: 100%;
    color: gray;
    margin-bottom: 2%;
  }

  .productSlider {
    width: 110%;
    position: relative;
    margin-left: 6%;
    margin-top: 8%;
  }

  .productslide {
    margin-right: 50px !important;
  }

  .carImage {
    position: relative;
    padding: 2rem;
  }

  .carCard {
    width: 20rem;
    height: 20rem;
    margin-top: 100px;
    padding: 0;
  }

  .car {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
  }

  .carBack {
    height: 250px;
    width: 300px;
    padding-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carBack::after,
  .car::after {
    content: "";
    display: table;
    clear: both;
  }

  .carDescription {
    margin-top: 100px;
    padding-top: 0;
    width: 100%;
  }

  .carDescription h6 {
    color: lightgray;
    margin-top: 5%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    margin-bottom: 8%;
  }

  .carSocial {
    width: 60%;
    margin: auto;
    color: lightgray;
    z-index: 4;
    display: flex;
  }

  .btnNext {
    background-color: green;
    position: fixed;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 2em;
    z-index: 2;
    right: 1%;
    margin-top: 6%;
    display: block;
    color: white;
    border: none;
  }

  .btnPrev {
    background-color: green;
    color: white;
    position: fixed;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 2em;
    z-index: 2;
    left: 20%;
    margin-top: 6%;
    display: block;
    border: none;
  }
}
