.main {
  width: 75%;
  height: 80vh;
  padding-left: 6%;
  margin: auto;
}

.carLatest {
  margin-top: 0;
  margin-bottom: 10%;
  margin: auto;
}

.carCard {
  width: 60rem;
  height: 65rem;
  margin-top: 25%;
  margin-bottom: 25%;
  padding-top: 5%;
  padding-bottom: 20%;
}

.car {
  width: 130%;
  padding-top: 15%;
  margin-bottom: 10%;
  z-index: 2;
  left: 3%;
  margin-left: -15%;
  height: 15vh;
}

.carBack {
  background-color: lightgray;
  border-radius: 100%;
  height: 250px;
  width: 320px;
  margin-left: 12%;
  padding-top: 5%;
  padding-bottom: 15%;
}

.carDescription {
  padding-left: 10%;
  margin-bottom: 20%;
}

.carSocial {
  display: flex;
  justify-content: space-around;
}

.carIcons {
  width: 10%;
  padding: 3%;
  border-radius: 100%;
  border: 1px solid gray;
}

/* Styles for medium screens and larger */
@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 8%;
  }

  .carLatest {
    margin-top: 5%;
    padding-left: 0;
    margin-bottom: 15%;
  }

  .carLatest h6 {
    margin-top: 0%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10%;
    width: 90%;
    color: lightgray;
  }

  .productSlider {
    height: 40vh;
    width: 80%;
    margin: auto;
    margin-left: 10%;
  }

  .productslide {
    margin-right: 250px !important;
  }

  .carCard {
    width: 16rem;
    height: 22rem;
    margin: 0;
    padding: 0;
  }

  .car {
    width: 120%;
  }

  .carBack {
    height: 60px;
    width: 120px;
    padding-top: 0;
    margin: auto;
  }

  .carDescription {
    margin: 0;
    padding-left: 0;
  }

  .carDescription h4 {
    margin-top: 25%;
    margin-bottom: 10%;
  }

  .carDescription h6 {
    color: lightgray;
    margin-bottom: 10%;
  }

  .carSocial {
    width: 60%;
    margin: auto;
    color: lightgray;
  }

  .carIcons {
    border: 1px solid lightgray;
  }
}
