.myreservation {
  padding-left: 10%;
  width: 80%;
  height: 100vh;
  margin: auto;
  padding-top: 2%;
  margin-bottom: 10%;
}

.card_container {
  border: 1px solid gray;
  width: 60%;
  display: flex;
  margin: 10%;
  padding: 5%;
}

.car_image {
  width: 20%;
}

.body_container {
  margin: auto;
}

.btn {
  padding: 4%;
  background-color: green;
  color: white;
  border: none;
}

.btn:hover {
  background-color: darkgreen;
}

@media only screen and (max-width: 600px) {
  .myreservation {
    width: 80%;
  }
  
  .card_container {
    border: 1px solid gray;
    width: 60%;
    display: flex;
    margin: auto;
    padding-top: 40%;
    flex-direction: column;
    border: none;
  }

  .body_container {
    margin-top: 10%;
  }
}