:root {
  --green: #95c010;
  --orange: #ffb400;
  --blue: #11bbb5;
}

.formContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7da504;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.success {
  background: var(--blue);
  width: 100vw;
  color: white;
  position: absolute;
  top: 10px;
  padding: 10px 0;
}

.form__label {
  text-align: left;
  font-size: 14px;
}

.header {
  border-bottom: 1px solid white;
  padding: 0.625rem 0.2rem;
  font-size: 1.375rem;
}

.description {
  margin: 0.625rem 10vw;
  font-size: 0.875rem;
}

.formContainer > *:not(.car__background) {
  z-index: 2;
}

.car__background {
  position: absolute;
  background-image: url('../assets/images/background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  opacity: 0.2;
  overflow: hidden;
  scale: 1;
  bottom: 0;
  right: 0;
}

.reservation__field {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reservation__field:last-of-type {
  margin-bottom: 5vh;
}

.reservation__field input[type="date"],
.reservation__field input[type="text"],
.reservation__field > select {
  height: 2.1875rem;
  border-radius: 0.625rem;
  background-color: var(--green);
  border: solid white 1px;
  color: white;
  min-width: 12.5rem;
  padding: 1px 12px;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

.reservation__field input[type="date"],
.reservation__field input[type="text"] {
  width: 40vw;
  max-width: 21.875rem;
}

.reservation__field > select {
  width: 100%;
  max-width: 23.125rem;
}

input::placeholder {
  color: rgb(225, 225, 225);
}

.reservation__field input[type="date"]:focus,
.reservation__field input[type="text"]:focus {
  color: black;
  background-color: white;
  transition: ease-in 0.5s;
  -webkit-transition: ease-in 0.5s;
  -moz-transition: ease-in 0.5s;
  -ms-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
}

.formContainer button[type="submit"] {
  width: 11.25rem;
  background-color: white;
  color: var(--green);
  font-weight: 700;
  height: 2.8125rem;
  margin-top: 0.375rem;
  border-radius: 1rem;
  border-style: none;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.formContainer button[type="submit"]:hover {
  background-color: var(--blue);
  color: white;
  transition: ease-in 0.5s;
  border: 1px dotted white;
  -webkit-transition: ease-in 0.5s;
  -moz-transition: ease-in 0.5s;
  -ms-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
}

@media screen and (min-width: 768px) {
  .formContainer {
    margin: 0;
    height: 100vh;
    border-radius: 0;
    background-size: contain;
  }

  .car__background {
    left: 20vw;
    width: auto;
    height: 100vh;
    scale: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .reservation__field {
    margin-top: 0.625rem;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
  
  .form__label {
    width: fit-content;
  }

  .header {
    font-size: 1.875rem;
  }

  .description {
    font-size: 1.0625rem;
    font-weight: 700;
  }
}
